<div style="display: block; height: 200px; margin-top: -30px;">
  <canvas #barCanvas></canvas>
</div>

<!--
  <ion-card>
    <ion-card-header> Bar Chart </ion-card-header>
    <ion-card-content>
      <div style="display: block;"><canvas #barCanvas></canvas></div>
    </ion-card-content>
  </ion-card>
-->
<!--
  <ion-card>
    <ion-card-header> Doughnut Chart </ion-card-header>
    <ion-card-content>
      <div style="display: block;"><canvas #doughnutCanvas></canvas></div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header> Line Chart </ion-card-header>
    <ion-card-content>
      <div style="display: block;"><canvas #lineCanvas></canvas></div>
    </ion-card-content>
  </ion-card>
-->
