page-live-track-direction {
    #map {
        width: 100%;
        height: 300px;
      }
      #map-canvas {
        margin: 0;
        padding: 0;
        height: 650px;
        width: 100%;
    }
}
