page-post-request {
  .label {
    font-size: 16px;
  }
  .item-input .label {
    color: $label-color;
  }
  .item {
    padding-left: 12px;
    padding-right: 12px;
  }
  .places_txt {
    border-bottom: 1px solid $secondary-color;
    margin: 0px 10px 0px 10px;
  }
  .request {
    margin: auto;
    top: 10px;
    display: block;
    background-color: $primary-color;
  }
  .error-message {
    color: red;
  }
  .datetime {
    padding: 0px;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus)
    .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus)
    .item-inner {
    border-bottom-color: $primary-color;
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.7);
  }
  .custom_label {
    padding: 0px 16px 0px 16px;
    color: grey;
    margin: 20px 0px 0px 0px;
  }
  .custom_item {
    height: 45px;
  }
  .item-label-stacked .select,
  .item-label-floating .select {
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .custom_num_donners {
    background-color: transparent;
    margin: 15px 0px 0px 0px;
    // padding: 0px 16px 0px 16px;
    // width: 60%;
    .item-inner {
      border-bottom: 0px !important;
    }
    .text-input {
      text-align: center;
      color: black;
      font-weight: bold;
      margin: 6px 8px;
      // width: 10px;
    }
    .button {
      height: 30px;
      width: 30px;
      color: black;
      background-color: white;
      border-radius: 50%;
      border: 2px solid grey !important;
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14),
        0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    }
    ion-input {
      width: 100%;
      border-radius: 10px;
      border: 2px solid grey !important;
      background-color: white;
      height: 30px;
      margin: 4px 4px 4px 4px;
    }
    .label {
      margin: 13px 0px 13px 0px;
      padding: 0px 90px 0px 10px;
      text-overflow: unset;
      color: black;
      font-size: 15px;
      font-weight: 500;
      opacity: 0.6;
    }
  }
  .validation-errors {
    padding: 1px 10px 1px 10px;
  }
  .text-input-md {
    margin: 0px;
  }
  .item-input ion-input,
  .item-input ion-textarea {
    height: 100px;
  }
  textarea.text-input {
    height: 100%;
  }
  .select {
    padding: 0px 0px 0px 0px;
  }
  ion-select {
    display: contents;
  }
  .select .select-icon .select-icon-inner {
    left: 0px;
  }
  .searchbar .searchbar-input {
    border-bottom: 1px solid #dedede;
    padding: 6px 30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0),
      0 1px 5px 0 rgba(0, 0, 0, 0);
  }
  .searchbar .searchbar-search-icon,
  .searchbar .searchbar-cancel {
    left: 3px;
  }
  // #map {
  //   width: 100%;
  //   height: 300px;
  // }
  #map-canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    // position: fixed !important;
  }
}
